{% spaceless %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>SG KSI</title>
    <link rel="stylesheet" href="{{ path_for('css', {"css": "css.css"}) }}" type="text/css">
    {% block metahead %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    
    {% block bottomJS %}{% endblock %}
</body>
</html>
{% endspaceless %}
